/*estilo geral*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(0, 0, 255);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover{
    box-shadow: 0px 0px 8px #01013f;

    transform: scale(1.05);
}

h2.titulo{
    color: white;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: blue;
}

/*  estilo cabecalho*/
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: rgb(94, 94, 94);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: white;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}


/*estilo do topo do site*/
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap:150px;
}

.topo-do-site h1{
    color: white;
    font-size: 42px;
}

.img-topo-site img{
    width:350px;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

.topo-do-site h1 span{
    color: blue;
}
.topo-do-site .txt-topo-site p{
    color: white;
    margin: 40px 0;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/*estilo das especialidades*/
section.especialidades{
    padding: 40px  4%;
}

section.especialidades .flex{
    gap: 100px;
}

.especialidades .especialidades-box{
    color: white;
    padding: 40px;
    margin-top: 45px;
    border-radius:  25px;
    cursor: pointer;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform:  scale(1.05);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.473);
}

.especialidades .especialidades-box i{
    font-size: 80px;
    color:  blue;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

/*estilo sobre*/
section.sobre{
    padding: 80px 4%;
}

.img-sobre img{
    width: 350px;
    border-radius: 35px;
}

.sobre .txt-sobre{
    color: white;

}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: blue;
    display:  block;
}

.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    margin-top: 30px;
    border-radius: 50%;
    border: none;
    background-color: blue;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}











